<div class="wrapper">
    <h1 class="seo">.</h1>
    <div class="container costum-css">

        <h3 style="margin-top: 30px;">{{ 'privicy-heading' | translate }}</h3>
        <p> {{ 'privicy-updated-date' | translate }}</p>
        <p>{{ 'privicy-p1' | translate }}
        </p>
        <p>{{ 'privicy-p2' | translate }}</p>
        <h4>{{ 'privicy-h1' | translate }}</h4>
        <h5>{{ 'privicy-h2' | translate }}</h5>
        <p>{{ 'privicy-p3' | translate }}
        </p>
        <h5>{{ 'privicy-h3' | translate }}</h5>
        <p>{{ 'privicy-p4' | translate }}</p>
        <ul>
            <li>
                <p><strong>{{ 'privicy-p5s' | translate }}</strong>{{ 'privicy-p5' | translate }} </p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p6s' | translate }}</strong> {{ 'privicy-p6' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p7s' | translate }}</strong>{{ 'privicy-p7' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p8s' | translate }}</strong>{{ 'privicy-p8' | translate }} </p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p9s' | translate }}</strong>{{ 'privicy-p9' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p10s' | translate }}</strong> {{ 'privicy-p10' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p11s' | translate }}</strong>{{ 'privicy-p11' | translate }} </p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p12s' | translate }}</strong>{{ 'privicy-p12' | translate }} </p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p13s' | translate }}</strong>{{ 'privicy-p13' | translate }}
                </p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p14s' | translate }}</strong>{{ 'privicy-p14' | translate }} </p>
            </li>

            <li>
                <p><strong>{{ 'privicy-p16s' | translate }}</strong>{{ 'privicy-p16' | translate }} </p>
            </li>
        </ul>
        <h4>{{ 'privicy-h4' | translate }}</h4>
        <h5>{{ 'privicy-h5' | translate }}</h5>
        <h5>{{ 'privicy-h6' | translate }}</h5>
        <p>{{ 'privicy-p17' | translate }}
        </p>
        <ul>
            <li>
                <p>{{ 'privicy-p18' | translate }}</p>
            </li>
            <li>
                <p>{{ 'privicy-p19' | translate }}</p>
            </li>
        </ul>
        <h5>{{ 'privicy-h7' | translate }}</h5>
        <p>{{ 'privicy-p20' | translate }}</p>
        <p>{{ 'privicy-p21' | translate }}</p>
        <p>{{ 'privicy-p22' | translate }}</p>
        <p>{{ 'privicy-p23' | translate }}</p>
        <h4>{{ 'privicy-h8' | translate }}</h4>
        <p>{{ 'privicy-p24' | translate }}</p>
        <ul>
            <li><strong>{{ 'privicy-p25s' | translate }}</strong>{{ 'privicy-p25' | translate}} </li>
            <li><strong>{{ 'privicy-p26s' | translate }}</strong>{{ 'privicy-p26' | translate }}</li>
        </ul>
        <p>{{ 'privicy-p27' | translate }}
        <p>{{ 'privicy-p28' | translate }}</p>
        <ul>
            <li>
                <p><strong>{{ 'privicy-p29' | translate }}</strong></p>
                <p>{{ 'privicy-p30' | translate }}</p>
                <p>{{ 'privicy-p31' | translate }}</p>
                <p>{{ 'privicy-p32' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p33' | translate }}</strong></p>
                <p>{{ 'privicy-p34' | translate }}</p>
                <p>{{ 'privicy-p35' | translate }}</p>
                <p>{{ 'privicy-p36' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p37' | translate }}</strong></p>
                <p>{{ 'privicy-p38' | translate }}</p>
                <p>{{ 'privicy-p39' | translate }}</p>
                <p>{{ 'privicy-p40' | translate }}</p>
            </li>
        </ul>
        <p>{{ 'privicy-p41' | translate }}</p>
        <h4>{{ 'privicy-h9' | translate }}</h4>
        <p>{{ 'privicy-p42' | translate }}</p>
        <ul>
            <li>
                <p><strong>{{ 'privicy-p43s' | translate }}</strong>,{{ 'privicy-p43'
                    | translate }}
                </p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p44s' | translate }}</strong> {{ 'privicy-p44' | translate
                    }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p45s' | translate }}</strong>{{ 'privicy-p45' |
                    translate }} </p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p46s' | translate }}</strong> {{ 'privicy-p46' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p47s' | translate }}</strong> {{ 'privicy-p47' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p48s' | translate }}</strong>{{ 'privicy-p48' | translate
                    }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p49s' | translate }}</strong> {{ 'privicy-p49' | translate
                    }}</p>
            </li>
            <li>
                <p><strong>{{ 'privicy-p50s' | translate }}</strong>:{{ 'privicy-p50' | translate }}
                </p>
            </li>
        </ul>
        <p>{{ 'privicy-p51s' | translate }}</p>
        <ul>
            <li><strong>{{ 'privicy-p52s' | translate }}</strong>{{ 'privicy-p52' | translate }}
            </li>
            <li><strong>{{ 'privicy-p53s' | translate }}</strong>{{ 'privicy-p53' | translate }}
            </li>
            <li><strong>{{ 'privicy-p54s' | translate }}</strong>{{ 'privicy-p54' | translate }}</li>
            <li><strong>{{ 'privicy-p55s' | translate }}</strong>{{ 'privicy-p55' | translate }}
            </li>
            <li><strong>{{ 'privicy-p56s' | translate }}</strong> {{ 'privicy-p56' | translate }}
            </li>
            <li><strong>{{ 'privicy-p57s' | translate }}</strong>: {{ 'privicy-p57' | translate }}</li>
        </ul>
        <h4>{{ 'privicy-h10' | translate }}</h4>
        <p>{{ 'privicy-p58' | translate }}</p>
        <p>{{ 'privicy-p59' | translate }}</p>
        <h4>{{ 'privicy-h11' | translate }}</h4>
        <p>{{ 'privicy-p60' | translate }}</p>
        <p>{{ 'privicy-p61' | translate }}</p>
        <p>{{ 'privicy-p62' | translate }}</p>
        <h4>{{ 'privicy-h12' | translate }}</h4>
        <p>{{ 'privicy-p63' | translate }}</p>
        <p>{{ 'privicy-p64' | translate }}</p>
        <p>{{ 'privicy-p65' | translate }}</p>
        <p>{{ 'privicy-p66' | translate }}</p>
        <h4>{{ 'privicy-h13' | translate }}</h4>
        <h5>{{ 'privicy-h14' | translate }}</h5>
        <p>{{ 'privicy-p67' | translate }}
        </p>
        <h5>{{ 'privicy-h15' | translate }}</h5>
        <p>{{ 'privicy-p68' | translate }}</p>
        <h4>{{ 'privicy-h16' | translate }}</h4>
        <p>{{ 'privicy-p69' | translate }}</p>
        <ul>
            <li>{{ 'privicy-p70' | translate }}</li>
            <li>{{ 'privicy-p71' | translate }}</li>
            <li>{{ 'privicy-p72' | translate }}
            </li>
            <li>{{ 'privicy-p73' | translate }}</li>
            <li>{{ 'privicy-p74' | translate }}</li>
        </ul>
        <h4>{{ 'privicy-h17' | translate }}</h4>
        <p>{{ 'privicy-p75' | translate }}</p>
        <h4>{{ 'privicy-h18' | translate }}</h4>
        <p>{{ 'privicy-p76' | translate }}</p>
        <p>{{ 'privicy-p77' | translate }}</p>
        <h4>{{ 'privicy-h19' | translate }}</h4>
        <p>{{ 'privicy-p78' | translate }}</p>
        <p>{{ 'privicy-p79' | translate }}</p>
        <h4>{{ 'privicy-h20' | translate }}</h4>
        <p>{{ 'privicy-p80' | translate }}</p>
        <p>{{ 'privicy-p81' | translate }}</p>
        <p>{{ 'privicy-p82' | translate }}</p>
        <h4>{{ 'privicy-h21' | translate }}</h4>
        <p>{{ 'privicy-p84' | translate }}</p>
        <ul>
            <li>
                <p><span>{{ 'privicy-p85' | translate }}</span> <a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJlHDhvhRbfGGsRxrZQSNvFbrVgqBsnXTbLWNWNtbQrzjztZJXfTjzDtRBnJDlqJswZrSMg"
                        rel="external nofollow noopener" target="_blank">ytfetch2@gmail.com</a> </p>
            </li>
            <li>
                <p><span>{{ 'privicy-p86' | translate }}</span><a href="https://www.ytfetch.com/contact-us"
                        rel="external nofollow noopener" target="_blank">https://www.ytfetch.com/contact-us</a></p>
            </li>
        </ul>
    </div>



    <footer class="footer" data-background-color="black">
        <div class="container text-center">
            <nav>
                <ul>
                    <li>
                        <a href="#section1"> YTFetch
                        </a>
                    </li>
                    <li>
                        <a href="#section2"> About us
                        </a>
                    </li>
                    <li>


                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                2024, All Rights Reserved
            </div>
        </div>

    </footer>
</div>