h1 ,h2,h3,h4,h5, h6{
    font-weight: bold;
}

.costum-css{
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 13px 30px;
    border-top: none;
}

.fixed-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer; 
  }
  
  .fixed-arrow i {
    font-size: 24px; 
    color: #fff; 
    background-color: #0181b0; 
    padding: 10px;
    border-radius: 50%;
  }

  @media (max-width: 767px) {
 
    footer ul li a{
      padding: 6px;
    }
  }


