<div class="body">


    <div class="wrapper">
        <h1>.</h1>
        <div class="container costum-css">
            <h3 style="margin-top: 30px;">{{ 'disclaimer-h1' | translate }}</h3>
            <p><span>{{ 'disclaimer-p1' | translate }}</span> <a
                    href="https://mail.google.com/mail/u/0/#inbox?compose=VpCqJPsNqcHHVLZBfdbzqWbrhdJdbXfVfBFlchjjNkdpGcCcCwFMMrJQhllFPxjHpxTQMFL"
                    target="_blank">
                    ytfetch2@gmail.com.</a></p>
            <h4>{{ 'disclaimer-h2' | translate }}</h4>
            <p><span>{{ 'disclaimer-p2' | translate }}</span><a href="https://ytfetch.com/"
                    target="_blank">https://ytfetch.com/</a><span>{{ 'disclaimer-p3' |
                    translate }}</span></p>
            <p>{{ 'disclaimer-p4' | translate }}</p>
            <p>{{ 'disclaimer-p5' | translate }}</p>
            <h4>{{ 'disclaimer-h3' | translate }}</h4>
            <p>{{ 'disclaimer-p6' | translate }}</p>
            <h4>{{ 'disclaimer-h4' | translate }}</h4>
            <p>{{ 'disclaimer-p7' | translate }}
            </p>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container text-center">
            <nav>
                <ul>
                    <li>
                        <a href="#section1"> {{ 'footer-developer' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="#section2"> {{ 'footer-aboutUs' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="#section4"> {{ 'navbar.howItWorks' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="#section5"> {{ 'navbar.faqs' | translate }}
                        </a>
                    </li>
                    <li>


                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{ data | date : "yyyy" }}, {{ 'footer-content' | translate }}
            </div>
        </div>

    </footer>

</div>