
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 93vh;

}

.container{
    flex: 1 0 auto;
}

h1 ,h2,h3,h4,h5, h6{
    font-weight: bold;
}

.costum-css{
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 13px 30px;
    border-top: none;
}

@media (max-width: 767px) {
 
    footer ul li a{
      padding: 6px;
    }
  }