<div class="wrapper">
    <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet'
        type='text/css'>

    <body>

        <!-- Error Page -->
        <div class="error">
            <div class="container-floud">
                <div class="col-xs-12 ground-color text-center">
                    <div class="container-error-404">
                        <div class="clip">
                            <div class="shadow"><span class="digit thirdDigit"></span></div>
                        </div>
                        <div class="clip">
                            <div class="shadow"><span class="digit secondDigit"></span></div>
                        </div>
                        <div class="clip">
                            <div class="shadow"><span class="digit firstDigit"></span></div>
                        </div>
                        <div class="msg">OH!<span class="triangle"></span></div>
                    </div>
                    <h2 class="h1">Sorry! Page not found</h2>
                    <a href="/" class="button-link">Go Back</a>

                </div>
            </div>
        </div>
        <!-- Error Page -->
    </body>
</div>
<footer class="footer" data-background-color="black">
    <div class="container text-center">
        <nav>
            <ul>
                <li>
                    <a href="#section1"> {{ 'footer-developer' | translate }}
                    </a>
                </li>
                <li>
                    <a href="#section2"> {{ 'footer-aboutUs' | translate }}
                    </a>
                </li>
                <li>
                    <a href="#section4"> {{ 'navbar.howItWorks' | translate }}
                    </a>
                </li>
                <li>
                    <a href="#section5"> {{ 'navbar.faqs' | translate }}
                    </a>
                </li>
                <li>


                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{ data | date : "yyyy" }}, {{ 'footer-content' | translate }}
        </div>
    </div>

</footer>