
.navbar-logo-brand {
    display: inline-block;
  }

  .navbar-logo-brand {
    font-weight: bold;
    color: #fff;
   
    font-size: 20px;
    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .navbar-logo-brand:hover {
    color: #ffcc00;

  }

  .navbar-container {
    position: relative;
    bottom: 5px;


  }
  .navbar-container .half-color{
    color: #fff;
  }
  
  .navbar-container.scrolled {
    padding-top: 8px;
    
  }
  .navbar-container.scrolled .half-color{
    color: #fff;
  }
  
  .two-column-select option {
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Text color */
    padding: 6px 10px; /* Padding */
    font-family: Arial, sans-serif;
    font-size: larger;
  }
  
  /* Style for selected option within the dropdown */
  .two-column-select option:checked {
    background-color: #007bff; /* Blue background for selected option */
    color: #fff; /* White text for selected option */
    
  }
  .nav-item a{
    color:  #fff;
  }
  

 