.navbar-logo-brand {
    display: inline-block;
  }

  .navbar-logo-brand {
    font-weight: bold;
    color: #fff;
    /* Text color */
    font-size: 20px;
    /* Adjust the font size */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .navbar-logo-brand:hover {
    color: #ffcc00;
    /* Change color on hover */
  }