<div class="wrapper" id="section1">
  <div class="clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"></div>
    <div class="container">
      <div class="content-center">
        <h1 class="h1-seo">.</h1>
        <div class="row justify-content-center" style="padding-top: 25px;padding-bottom: 25px;">
          <div class="col-md-12 text-center">
            <h4 style="font-weight: bolder">
              {{ 'main-heading' | translate }}
            </h4>
            <p class="text-center">{{ 'sub-heading' | translate }}</p>
          </div>
        </div>
        <div class=" row justify-content-center" style="padding-bottom: 40px;">
          <div class="col-md-8 text-center">
            <form class="form-inline  d-flex align-items-center justify-content-center text-center"
              style="display: flex; border-radius: 20px; overflow: hidden">
              <div class="input-group" style="flex-grow: 1">
                <input class="form-control form-control-lg mr-sm-2 align-top" type="search"
                  placeholder="{{ 'main-placeholder' | translate }}" aria-label="Search" style="
                      border-radius: 20px 0 0 20px;
                      border: 1px solid #ccc;
                      height: 48px;
                      margin: 0 ;
                      margin: 0 !important;                      
                      " [(ngModel)]="videoURL" (input)="onInputChanged()" (input)="linkDetail()" 
                  (input)="onInput($event)" />
                <div class="input-group-append">
                  <button class="btn btn-lg btn-block btn-sm" type="submit" (click)="open(classic, 'md')"
                    style="border-radius: 0 20px 20px 0; height: 48px; margin: 0; background-color: #0181B0;"
                    [disabled]="loading || !thumbnailUrl || !videoTitle">
                    {{ 'main-convert-button' | translate }}
                  </button>
                </div>
              </div>
            </form>
            <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
          </div>
        </div>
        <div class="row justify-content-center" style="padding-bottom: 20px;">
          <div class="col-md-8 text-center">
            <div class="loader" *ngIf="loading">
              <div class="justify-content-center jimu-primary-loading"></div>
            </div>
            <div *ngIf="!loading && thumbnailUrl">
              <img [src]="thumbnailUrl" alt="Thumbnail" class="img-fluid mb-3 rounded" style="width: 250px;">
              <h6>{{ videoTitle }}</h6>
            </div>
          </div>
        </div>
        <ng-template #classic let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h5 class="modal-title text-center" style="font-weight: bold;">{{ 'modal-heading' | translate }}</h5>
            <button type="button" style="color: #0181B0;" class="close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <img [src]="thumbnailUrl" alt="Thumbnail" class="img-fluid mb-3 rounded" style="width: 300px;">
                </div>
                <h6>{{ videoTitle }}</h6>
                <h6>{{ 'model-videoDuration' | translate }}: {{ videoDuration }}</h6>
                <div *ngIf="!isShortsVideo && hasDescription">
                  <p><strong>{{ 'model-videoDescription' | translate }}:</strong> {{ showFullDescription ?
                    videoDescription : truncatedVideoDescription}}
                    <button class="btn btn-link p-0 m-0 btn-sm" (click)="toggleDescription()">
                      {{ showFullDescription ? 'See less' : 'See more' }}
                    </button>
                  </p>
                </div>
                <hr>
                <label for="formatSelect">{{ 'modal-formatselect' | translate }}:</label>
                <select class="form-control mb-3 custom-border-select" id="formatSelect" [(ngModel)]="selectedFormat"
                  (change)="formatChange()">
                  <option value="mp4">{{ 'formatselectop1' | translate }}</option>
                  <option value="mp3">{{ 'formatselectop2' | translate }}</option>
                </select>
                <div *ngIf="selectedFormat === 'mp4'  && showResolutionSelect">
                  <label for="resolutionSelect">{{ 'modal-selectresolution' | translate }}:</label>
                    <select [(ngModel)]="selectedResolution" (change)="resolutionChange($event.target.value)" class="form-control">
                      <ng-container *ngFor="let option of resolutionOptions">
                        <option [value]="option.itag">{{ option.resolution }}</option>
                      </ng-container>
                    </select>                  
                </div>
                <hr>
                <div class="button-container">
                  <button *ngIf="!isShortsVideo" class="btn custom-btn" (click)="downloadVideo()"
                    [disabled]="downloading || !thumbnailUrl || !videoTitle || !selectedFormat || (!selectedResolution && selectedFormat === 'mp4')">
                    <span *ngIf="downloading" class="loader-container">
                      <div class="custom-loader">
                        <div class="spinner"></div>
                      </div>
                    </span>
                    <span *ngIf="!downloading">{{ 'modal-downloadbutton' | translate }}</span>
                  </button>
                  <span *ngIf="downloading" style="padding-left: 10x;">{{ 'modal-downloadingprogressbutton' | translate }}</span>
                </div>
                <div class="button-container">
                  <button *ngIf="isShortsVideo" class="btn custom-btn" (click)="downloadShortsVideo()"
                  [disabled]="downloading || !thumbnailUrl || !videoTitle || !selectedFormat ">
                    <span *ngIf="downloading" class="loader-container">
                      <div class="custom-loader">
                        <div class="spinner"></div>
                      </div>
                    </span>
                    <span *ngIf="!downloading">{{ 'modal-downloadshortbutton' | translate }}</span>
                  </button>
                  
                </div>


                
                
                
                  
                  
                
              </div>
            </div>
          </div>
        </ng-template>
        <div class="col-md-12 text-center"  id="section2"  style="padding-bottom: 30px;padding-top: 30px;">
          <h5 style="font-weight: bolder">
            {{ 'section2-m-heading' | translate }}
          </h5>
          <p class="text-center">{{ 'section2-m-p' | translate }}</p>
        </div>
        <div class="row costum-elements">
          <div class="col-md-4 cstm-">
            <h6><i class="fas fa-bolt"></i>{{ 'section2-s-heading1' | translate }}</h6>
            <p>{{ 'section2-s-p1' | translate }}</p>
          </div>
          <div class="col-md-4 cstm-">
            <h6><i class="fas fa-redo"></i>{{ 'section2-s-heading2' | translate }}</h6>
            <p>{{ 'section2-s-p2' | translate }}
            </p>
          </div>
          <div class="col-md-4 cstm-">
            <h6><i class="fas fa-lock"></i>{{ 'section2-s-heading3' | translate }}</h6>
            <p>{{ 'section2-s-p3' | translate }}</p>
          </div>
          <div class="col-md-4 cstm-">
            <h6><i class="fas fa-mobile-alt"></i>{{ 'section2-s-heading4' | translate }}</h6>
            <p>{{ 'section2-s-p4' | translate }}</p>
          </div>
          <div class="col-md-4 cstm-">
            <h6><i class="fas fa-hdd"></i>{{ 'section2-s-heading5' | translate }}</h6>
            <p>{{ 'section2-s-p5' | translate }}</p>
          </div>
          <div class="col-md-4 cstm-">
            <h6><i class="fas fa-dollar-sign"></i>{{ 'section2-s-heading6' | translate }}</h6>
            <p>{{ 'section2-s-p6' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="section bg-light mb-3"
        style="padding-left: 20px;padding-right: 20px; background-color: #F2F3F6; border-radius: 18px; padding-top: 15px; margin-top: 15px; padding-bottom: 15px;">
        <div class="text-center " style="margin-bottom: 70px; margin-top: 50px;">
          <h4 style="font-weight: bold;">{{ 'section3-m-heading' | translate }}</h4>
          <p class="text-center">{{ 'section3-m-p' | translate }}</p>
        </div>
        <div class="row mt-4 align-items-start">
          <div class="col-md-4 col-sm-12 d-flex flex-column align-items-center">
            <img src="../../assets/img/image-to-paste.jpg" alt="" width="300px" class="mb-5"
              style="border-radius: 25px;">
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="row">
              <div class="col-md-6 mb-1">
                <div class="card bg-white p-3" style="border-radius: 25px;">
                  <h6 class="text-center">{{ 'section3-s-heading1' | translate }}</h6>
                  <p style="padding: 10px;">{{ 'section3-s-p1' | translate }}</p>
                </div>
              </div>
              <div class="col-md-6 mb-1">
                <div class="card bg-white p-3" style="border-radius: 25px;">
                  <h6 class="text-center">{{ 'section3-s-heading2' | translate }}</h6>
                  <p style="padding: 10px;">{{ 'section3-s-p2' | translate }}</p>
                </div>
              </div>
              <div class="col-md-6 mb-1">
                <div class="card bg-white p-3" style="border-radius: 25px;">
                  <h6 class="text-center">{{ 'section3-s-heading3' | translate }}</h6>
                  <p style="padding: 10px;">{{ 'section3-s-p3' | translate }}</p>
                </div>
              </div>
              <div class="col-md-6 mb-1">
                <div class="card bg-white p-3" style="border-radius: 25px;">
                  <h6 class="text-center">{{ 'section3-s-heading4' | translate }}</h6>
                  <p style="padding: 10px;">{{ 'section3-s-p4' | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="section4"  style="padding-top: 15px; margin-top: 15px; padding-bottom: 15px;">
        <div class="text-center" style="margin-bottom: 40px; margin-top: 30px;">
          <h4 style="font-weight: bold;">{{ 'section4-m-heading' | translate }}</h4>
          <p class="text-center">{{ 'section3-m-p' | translate }}</p>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="p-4 rounded border shadow-sm">
              <h6 class="text-center mb-3">{{ 'section4-s-heading1' | translate }}</h6>
              <div class="row align-items-center">
                <div class="col-md-5 col-sm-5">
                  <img src="../../assets/img/bg1.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-md-7 col-sm-7 mt-3 mt-sm-0">
                  <p class="mb-0">{{ 'section4-s-p1' | translate }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="p-4 rounded border shadow-sm">
              <h6 class="text-center mb-3">{{ 'section4-s-heading2' | translate }}</h6>
              <div class="row align-items-center">
                <div class="col-md-5 col-sm-5">
                  <img src="../../assets/img/bg1.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-md-7 col-sm-7 mt-3 mt-sm-0">
                  <p class="mb-0">{{ 'section4-s-p2' | translate }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="p-4 rounded border shadow-sm">
              <h6 class="text-center mb-3">{{ 'section4-s-heading3' | translate }}</h6>
              <div class="row align-items-center">
                <div class="col-md-5 col-sm-5">
                  <img src="../../assets/img/bg1.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-md-7 col-sm-7 mt-3 mt-sm-0">
                  <p class="mb-0">{{ 'section4-s-p3' | translate }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="p-4 rounded border shadow-sm">
              <h6 class="text-center mb-3">{{ 'section4-s-heading4' | translate }}</h6>
              <div class="row align-items-center">
                <div class="col-md-5 col-sm-5">
                  <img src="../../assets/img/bg1.jpg" alt="" class="img-fluid rounded">
                </div>
                <div class="col-md-7 col-sm-7 mt-3 mt-sm-0">
                  <p class="mb-0">{{ 'section4-s-p4' | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section bg-light  mb-3 FAQS" id="section5"
        style="padding-left: 20px;padding-right: 20px; padding-top: 15px; margin-top: 15px; padding-bottom: 15px; background-color: #F2F3F6; border-radius: 18px;">
        <div class="text-center " style="margin-bottom: 50px; margin-top: 50px;">
          <h4 style="font-weight: bold;">{{ 'section5-m-heading' | translate }}</h4>
          <h5>{{ 'section5-m-p' | translate }}</h5>
          <p class="text-center">{{ 'section5-m-p1' | translate }}</p>
        </div>
        <div class="col-md-12 main-acc">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingOne">
                <button class="accordion-button collapsed acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ 'section5-s-heading1' | translate }}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p1' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingTwo">
                <button class="accordion-button collapsed acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {{ 'section5-s-heading2' | translate }}
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p2' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingThree">
                <button class="accordion-button collapsed  acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  {{ 'section5-s-heading3' | translate }}
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p3' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingfour">
                <button class="accordion-button collapsed acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  {{ 'section5-s-heading4' | translate }}
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p4' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingFive">
                <button class="accordion-button collapsed acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  {{ 'section5-s-heading5' | translate }}
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p5' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingSix">
                <button class="accordion-button collapsed  acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  {{ 'section5-s-heading6' | translate }}
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p6' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingSeven">
                <button class="accordion-button collapsed acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  {{ 'section5-s-heading7' | translate }}
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p7' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingEight">
                <button class="accordion-button collapsed acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  {{ 'section5-s-heading8' | translate }}
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p8' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingNine">
                <button class="accordion-button collapsed  acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  {{ 'section5-s-heading9' | translate }}
                </button>
              </h2>
              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p9' | translate }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header text-sm" id="headingTen">
                <button class="accordion-button collapsed  acc-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                  {{ 'section5-s-heading10' | translate }}
                </button>
              </h2>
              <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ 'section5-s-p10' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 align-items-start">
        </div>
      </div>
    </div>
    <footer class="footer" data-background-color="black">
      <div class="container text-center">
        <nav>
          <ul>
            <li>
              <a href="javascript:void(0);" (click)="scrollToSection('section1')"> {{ 'footer-developer' | translate }} </a>
            </li>
            <li>
              <a href="javascript:void(0);" (click)="scrollToSection('section2')"> {{ 'footer-aboutUs' | translate }} </a>
            </li>
            
            
          </ul>
        </nav>
        <div class="copyright">
          &copy;
          {{ data | date : "yyyy" }}, {{ 'footer-content' | translate }} 
        </div>
      </div>
    </footer>
  </div>