.costum-elements{
    padding: 10px;
}
// p{
//   // font-size: 14px;
//   // text-align: justify;
//   // word-spacing: -0.9px;
// }


.cstm- {
    padding: 13px;


  }

  .cstm- p {
    padding-left: 17px;


  }


  .cstm- h6 {
    font-weight: bold;
  }

  .cstm- h6 i {
    font-size: 13px;
    padding-right: 8px;
  }



  .accordion-item {
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  }

  .accordion-header {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
  }

  .accordion-header:hover {
    background-color: #f0f0f0;
  }

  .accordion-button {
    color: #333333;
    font-weight: bold;
  }

  .accordion-body {
    padding: 15px 20px;
    border-top: 1px solid #e9ecef;
  }

  .footer {
    padding: 10px 0;
  }

  .footer .container {
    padding-top: 10px;
  }

  .footer nav ul {
    margin-bottom: 10px;
  }

  .footer .copyright {
    font-size: 14px;
  }

  .custom-btn {
    background-color: #0181B0;
    border-color: #0181B0;
  }
  
  .custom-btn:hover,
  .custom-btn:focus {
    background-color: #015E8A;
    border-color: #015E8A;
  }
  
  .custom-btn:active,
  .custom-btn.active {
    background-color: #014263;
    border-color: #014263;
  }

  .custom-border-select {
    border-color: #0181B0 !important;
  }

  // loader 
  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .jimu-primary-loading:before,
  .jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
  }

  .jimu-primary-loading:before {
    left: -19.992px;
  }

  .jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
  }

  .jimu-primary-loading:before,
  .jimu-primary-loading:after,
  .jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
  }

  .jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
  }
  .custom-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 3px solid #f2f4f5; /* Loader color */
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    
  }
  .button-container {
    display: flex; /* Ensure contents are in a flex container */
    align-items: center; /* Center items vertically */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #076fe5;
      height: 32px;
    }

    40% {
      opacity: 1;
      box-shadow: 0 -8px #076fe5;
      height: 40px;
    }
  }

  @keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
      opacity: .75;
      box-shadow: 0 0 #076fe5;
      height: 32px;
    }

    40% {
      opacity: 1;
      box-shadow: 0 -8px #076fe5;
      height: 40px;
    }
  }
  .progress-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    height: 20px;
    border-radius: 5px;
    background-color: #4caf50;
    width: 0%;
  }
  
  

  @media (max-width: 767px) {
    .FAQS{
      padding: 0PX;
    }
    .main-acc{
      padding: 0px;
    }
    .acc-button{
      padding: 10px;
      font-size: 14px;
    }
    .accordion-header {
      font-size: 14px;
      padding: 10px;
    }
    .accordion-body {
      padding: 10px;
      font-size: 12px;
    }

    .accordion-item {
      margin-bottom: 5px;
    }
  }



  